venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.git/
.gitignore
*.egg-info/
dist/
build/
.pytest_cache/
.mypy_cache/
.ruff_cache/
notebooks/
docs/
tests/
data/malaria/
data/breast_cancer/
data/malaria_processed/
data/breast_cancer_processed/
reports/
*.log
.devcontainer/
.streamlit/secrets.toml
